label,
legend {
  display: block;
  font-weight: 500;
  color: var(--color--dark);

  & > input,
  & > [class*="address-autocomplete"] {
    margin-top: 0.2rem;
  }

  &[data-checkbox-unavailable="true"] {
    pointer-events: none;

    &[data-is-selected="true"] {
      box-shadow: inset 0 0 0 2px var(--color--dark) !important;

      [class*="label-title"] {
        color: var(--color--dark) !important;
      }

      [class*="more-infos"] {
        pointer-events: auto;
      }
    }

    &[data-is-selected="false"] {
      opacity: 0.4;
    }
  }
}
