[defaults]
inventory = ./inventory/hosts  # Chemin vers ton fichier d'inventaire
roles_path = ./roles            # Chemin vers tes rôles Ansible
host_key_checking = False       # Désactive la vérification des clés SSH pour éviter des erreurs avec sshpass

[ssh_connection]
timeout = 100  # Temps de connexion SSH
