:is(.swiper-custom-pagination) {
  .swiper-pagination {
    &-bullet {
      width: 10px;
      height: 10px;
      background-color: var(--color--light);
      box-shadow: inset 0 0 0 1px var(--color--brand-a);
      margin: 0 5px;
      opacity: 1;
      transition: var(--background-color--fast);
      pointer-events: all;

      &-active {
        background-color: var(--color--brand-a);
      }
    }
  }
}
