global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'docker'
    static_configs:
      - targets: ['{{ hostvars[groups["swarm_managers"][0]]["ansible_default_ipv4"]["address"] }}:9323', '{{ hostvars[groups["swarm_workers"][0]]["ansible_default_ipv4"]["address"] }}:9323', '{{ hostvars[groups["swarm_workers"][1]]["ansible_default_ipv4"]["address"] }}:9323']
